body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #1a1a29;
}

.achtergrond {
    background-color: #181824;
}

.paars {
    color: #7562E0;
    transition: 0.5s;
}

.paars:hover{
    color: white;
    transition: 0.5s;
}

.active {
    color: #7562E0 !important;
}

.freek {
    padding-left: 25px;
}

.knop {
    background-color: #7562E0;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.5s !important;
}

.knop:hover {
    transition: 0.5s !important;
    text-decoration: underline;
    transform: scale(1.1);
}

.knop2 {}

.balk {
    color: #181824;

}

p,h1,h2 {
    color: white;
}
